.post {
	padding: 2.5rem;
	border-radius: var(--border-radius);
	background-color: var(--gray-800);
}

.post + .post { /* Add style to the next .post after other .post */
	margin-top: 2rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.author {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.avatar {
	width: calc(3rem + 12px);
	height: calc(3rem + 12px);
	border: 4px solid var(--gray-800);
	outline: 2px solid var(--green-500);
	border-radius: var(--border-radius);
}

.authorInfos {
	display: flex;
	flex-direction: column;
}

.authorName {
	line-height: 1.6;
	color: var(--gray-100);
}

.authorTitle {
	line-height: 1.6;
	font-size: 0.875rem;
	color: var(--gray-400);
}

.time {
	font-size: 0.875rem;
	color: var(--gray-400);
}

.content {
	line-height: 1.4;
	color: var(--gray-300);
	margin-top: 1.5rem;
}

.content p {
	margin-top: 1rem;
}

.content a {
	font-weight: bold;
	text-decoration: none;
	color: var(--green-500);
}

.content a:hover {
	color: var(--green-300);
}

.commentForm {
	width: 100%;
	padding-top: 1.5rem;
	margin-top: 1.5rem;
	border-top: 1px solid var(--gray-600);
}

.commentForm:focus-within .footer {
	max-height: none;
	visibility: visible;
}

.formTitle {
	line-height: 1.6;
	color: var(--gray-100);
}

.textArea {
	width: 100%;
	height: 6rem;
	resize: none;
	padding: 1rem;
	margin-top: 1rem;
	line-height: 1.4;
	border: 0;
	color: var(--gray-100);
	border-radius: var(--border-radius);
	background-color: var(--gray-900);
}

.footer {
	max-height: 0;
	visibility: hidden;
}

.button {
	padding: 1rem 1.5rem;
	margin-top: 1rem;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border: 0;
	transition: background-color, 0.1s;
	border-radius: var(--border-radius);
	background-color: var(--green-500);
}

.button:hover {
	background-color: var(--green-300);
}

.commentList {
	margin-top: 2rem;
}